.background {
  width: 100vw;
  min-height: 100vh;
  background-size: cover; /* or "contain" depending on what you want */
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-image: url('/assets/backgrounds/authbg.jpg')
}

.customShadow {
  box-shadow: '4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9'
}

.bg-mobile {
  background-image: url('/assets/backgrounds/authbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Override bg-mobile properties for screens larger than 768px (md in Tailwind) */
@media (min-width: 768px) {
  .bg-mobile {
    /* Reset the properties of bg-mobile or set them to match your desired style for larger screens */
    background-image: none;
  }
}

@media (max-width: 768px) {
  .svg-shadow {
    /* filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)); */
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.4));
  }
}
